/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lifecoachhub-lifecoachhub-status {
	padding: 2px;
	gap: 8px;
	display: flex;
	align-items: center;

	span {
		margin-block-start: 0;
	}
}